{% extends 'sunnanblog/article_list.html' %}


{% block title %}
    <title>创建Blog - 孙楠Blog </title>
{% endblock %}


{% block css %}
    <!-- markdown编辑器 -->
    <link rel="stylesheet"  href="/static/sunnanblog/article_update.css">
    <link rel="stylesheet"  href="/static/sunnanblog/css/style.css">
    <link rel="stylesheet"  href="/static/sunnanblog/css/editormd.css">
    <link rel="stylesheet"  href="/static/bootstrap4/dist/css/bootstrap.css">
{% endblock %}


{% block active %}
				<ul class="navbar-nav flex-column text-left">
					<li class="nav-item  ">
					    <a class="nav-link" href="{% url 'article_menu' %}"><i class="fas fa-home fa-fw mr-2"></i>Blog首页 <span class="sr-only"></span></a>
					</li>
					<li class="nav-item  ">
					    <a class="nav-link" href="{% url 'article_list' %}"><i class="fas fa-bookmark fa-fw mr-2"></i>文章/学习笔记</a>
					</li>
                    <li class="nav-item  ">
					    <a class="nav-link" href="{% url 'article_create' %}"><i class="fas fa fa-pencil fa-fw mr-2"></i>写笔记</a>
					</li>
					<li class="nav-item  ">
					    <a class="nav-link" href="{% url 'about' %}"><i class="fas fa-user fa-fw mr-2"></i>个人简历</a>
					</li>
				</ul>
{% endblock %}


{% block main %}
{#    <div class="row">#}
    <div class="main-wrapper">
        <div class="col-xs-12">
            <div style="height: 40px"></div>
            <form method="post" action="{% url 'article_create' %}">
                {% csrf_token %}

                <div class="form-group" >
                    <label id="title1" class="col-sm-3 control-label no-padding-right" for="form-field-1"> 文章标题 </label>

                    <div class="col-sm-9">
                        <input type="text" id="title" name="title" placeholder="输入文章标题" class="col-xs-10 col-sm-5">
                    </div>
                </div>

                <div id="layout">
                    <label id="body1" class="col-sm-3 control-label no-padding-right" for="form-field-1"> 文章内容 </label>
                    <div id="test-editormd">
                        <textarea style="display:none;" type="text" id="body" name="body" placeholder="文章内容" class="col-xs-10 col-sm-5" name="body"></textarea>
                    </div>
                </div>
                <div class="btn-div">
                    <button  type="submit" class="btn btn-danger btn-block">提交</button>
                </div>

            </form>
        </div>
    </div>

{% endblock %}


{% block js %}
    <!-- markdown编辑器 -->
    <script src="/static/sunnanblog/js/editormd.js" ></script>
    <script type="text/javascript">
        var testEditor;

        $(function() {
            var widgets = [];

            testEditor = editormd("test-editormd", {
                width: "90%",
                height: 720,
                path : '/static/sunnanblog/lib/',
                disabledKeyMaps : [
                    "Ctrl-B", "F11", "F10"  // disable some default keyboard shortcuts handle
                ],
                onchange : function() {
                            $("#test").remove();
                            var cm = this.cm;
                            var cursor = cm.getCursor();

                            //cm.replaceSelection("@");

                            widgets.push(cm.addWidget({line : cursor.line, ch : cursor.ch}, $("<p style='z-index:100000;background:red;color:#fff;padding:5px;' id='test'>fsdfsdfsdf</p>")[0], true));
                            console.log(cm.getCursor(), cm.getLine(cursor.line), cm.getLineTokens(cursor.line));
                },
                onload : function() {
                    var keyMap = {
                        "Ctrl-S": function(cm) {
                            alert("Ctrl+S");
                            //return false;
                        },
                        "Ctrl-A": function(cm) { // default Ctrl-A selectAll
                            // custom
                            alert("Ctrl+A");
                            cm.execCommand("selectAll");
                        },
                        //"Shift-2" : function(cm){
                        //}
                    };

                    this.cm.on("keyup", function(cm){
                        //$("#test").remove();
                    });

                    // setting signle key
                    var keyMap2 = {
                          "Ctrl-T": function(cm) {
                            alert("Ctrl+T");
                          }
                    };

                    this.addKeyMap(keyMap);
                    this.addKeyMap(keyMap2);
                    this.removeKeyMap(keyMap2);  // remove signle key
                }
            });

            $('.fa-eye').attr('name');
            console.log($('.fa-eye').attr('name'));
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            setTimeout(function(){
                $('.fa-eye').attr('name', 'watch');
                console.log($('.fa-eye').attr('name'));

                //$('#body').text($('.editormd-html-textarea').text())
            },
            900);
        })
    </script>
{% endblock %}



