<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>孙楠个人技术网站-blog</title>

		<meta name="description" content="along with an email converter tool" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<link rel="stylesheet" href="/static/ace/assets/css/bootstrap.css" />
		<link rel="stylesheet" href="/static/ace/components/font-awesome/css/font-awesome.css" />
		<link rel="stylesheet" href="/static/ace/assets/css/ace-fonts.css" />
		<link rel="stylesheet" href="/static/ace/assets/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />
		<link rel="stylesheet" href="/static/ace/assets/css/ace-skins.css" />
		<link rel="stylesheet" href="/static/ace/assets/css/ace-rtl.css" />
        <!-- 对ace的css样式进行部分修改 -->
        <link rel="stylesheet" href="/static/sunnanblog/css/index_home.css" />

		<script src="/static/ace/assets/js/ace-extra.js"></script>
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/bootstrap4/dist/js/bootstrap.js"></script>
		<script src="/static/ace/assets/js/src/ace.js"></script>

        <!-- game -->
        <link rel="stylesheet" type="text/css" href="/static/sunnanblog/game/css/my.typetool.css">
        <script type="text/javascript" src="/static/sunnanblog/game/js/articles.js"></script>
        <script type="text/javascript" src="/static/sunnanblog/game/js/my.typetool.js"></script>


{% block css %}
{% endblock %}

	</head>

	<body class="no-skin ">
<!-- 引入头部导航栏 -->
{% include 'head.html' %}

{% block main %}
        <div class=" time-line">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                    <div class="type-content-div">
                        <!-- typetool -->
                        <div class="typetool">
                            <div class="typetool-title" id="typetool-title">
                                中文打字练习
                            </div>
                            <div class="typetool-data">
                                <ul id="result_ul">
                                    <li id="times">0</li>
                                    <li id="speed">0.00</li>
                                    <li id="keySpeed">0.00</li>
                                    <li id="keyCode">0.00</li>
                                    <li id="modifyCount">0</li>
                                    <li id="errorCount">0</li>
                                    <li id="wordCount">57</li>
                                </ul>
                            </div>
                            <div class="typetool-progress">
                                <div class="progress-bar" id="percent"></div>
                            </div>
                            <div class="typetool-dzg">
                                <span name="subject" id="dzq" value=""
                                    class="dzq">偶尔来练练打字，也是一件让人愉悦的事情的说。彩色数据条从左到右分别是：时间，速度，击键，码长，回改，错字，总字数。</span>
                            </div>
                            <div class="typetool-gdz">
                                <textarea name="subject" id="gdq" value="" class="gdq" onpaste="return false;"></textarea>
                            </div>
                            <div class="typetool-btn">
                                <input type="button" value="暂停" class="zyh-btn" onclick="pauseCount();">
                                <input type="button" value="重打" class="zyh-btn zyh-btn2" onclick="reType();">
                            </div>
                        </div>
                        <!--/ typetool -->

                        <div class="article-list-div">
                            <div class="article-tab">
                                <div class="tran-div-oper">
                                    <ul>
                                        <li class="selected-li-tab" onclick="zyhTranTab(0)">文章列表</li>
                                        <li class="unselected-li-tab" onclick="zyhTranTab(1)">自定义</li>
                                    </ul>
                                </div>
                                <div class="line-div"></div>
                                <div class="the-tab-div">
                                    <div class="article-search">
                                        <input name="search" value="" type="text" hidefocus="true" class="search-ipt" id="searchText"
                                            maxlength="10" onkeyup="changeSearchText()">
                                        <input type="button" value="查找" hidefocus="true" class="zyh-btn" onclick="searchArticle()">
                                    </div>
                                    <ul id="article_list" class="article-ul">
                                    </ul>
                                    <ul id="article_search_result" class="article-ul" style="display: none;"></ul>
                                </div>
                                <div class="the-tab-div">
                                    <div class="type-text-div">
                                        <textarea name="subject" id="custom_text" value="" class="custom-textarea"
                                            maxlength="1024"></textarea>
                                    </div>
                                    <div class="row-submit">
                                        <input type="button" class="zyh-btn" value="载文" onclick="loadCustomText()" />
                                        <input type="button" class="zyh-btn zyh-btn2" value="清空" onclick="clearCustomText()" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>

        <div class="col-xs-6 col-sm-6 pricing-box part-3-1" style="padding: 0 0 0 9% "  id="step2">
            <div class="widget-box widget-color-blue">
                <div class="widget-header">
                    <h3 class="widget-title bigger lighter"><b>文章热度排行</b></h3>
                </div>

                <div class="widget-body">
                    <div class="widget-main">
                        <ul style="list-style-type: circle">
                            {% for i in article %}
                                <li>
                                    <div >
                                        <a href="{% url 'article_info' i.id %}">{{ i.title }}</a>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <!-- 清除浮动，让父元素高度匹配子元素高度 -->
                        <div class="clear" style="clear: both"></div>
                    </div>
                </div>

            </div>
        </div>


{% endblock %}

	</body>

{% block js %}
{% endblock %}

</html>

